{% extends "web/account_management/signup/layout.html.twig" %}

{% block page_contents %}

    <h1 class="card-title mb-5 fs-3">
        {{ "account_management.password_reset.check_your_emails"|trans }}
    </h1>

    <p class="card-text">
        {{ "account_management.password_reset.we_have_send_you_an_email"|trans({
            'expiresIn': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'),
            'link': path('request_password_reset')
        })| raw }}
    </p>

{% endblock %}