// Defines the graphic charter variables.
// 
// Some variables are directly extended from bootstrap to simplify overriding.

/*> FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Raleway:wght@300;500;600;700&display=swap');
$font-family-brand: Roboto;

$font-family-title: Roboto, Menlo, Monaco, Consolas;
$font-family-base:  "Raleway", sans-serif;
/*< FONT */

/*> COLORS */
// Based on @see https://colors.muz.li/palette/f2eff1/22a492/172544/37d4a1/115041
$white:          #ffffff;
$light-color:    #f2eff1;
$dark-color:     #172544;
$primary:        #24AF98;
$secondary:      #e11c56;
$info:           #456ba9;
$success:        #198754;
$warning:        #dfc713;
$danger:         #eb1807;

$theme-colors: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $primary,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "white":     $white,
  "light":     $light-color,
);

$body-bg:        $light-color;
$body-color:     $dark-color;
$link-color:     #1068bf;
/*< COLORS */

/*> CARDS */
$card-border-radius: 0.25rem;
/*< CARDS */

/*> BUTTONS */
$btn-border-radius-lg: 0.25rem;
/*< BUTTONS */

/*> FORMS */
$input-bg: #ffffff;
/*< FORMS */
