{% extends "web/dashboard/layout.html.twig" %}

{% block page_contents %}
    <main id="dashboard-homepage" class="container-fluid p-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">{{ 'global.welcome'|trans }} {{ user.email }}</h5>
                <p class="card-text">{{ 'dashboard.introduction'|trans|raw }}</p>
            </div>
        </div>
        <h1></h1>
    </main>
{% endblock %}
