{# DESKTOP NAVIGATION #}
<nav id="desktop-dashboard-nav" class="sidebar bg-white d-none d-md-block">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-2 mt-4">
            <a href="{{ path('dashboard_homepage') }}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-tachometer-alt fa-fw"></i>
                <span class="ms-2">{{ 'global.dashboard'|trans }}</span>
            </a>
        </div>
    </div>
</nav>


{# MOBILE NAVIGATION #}
<nav id="mobile-dashboard-nav" class="navbar bg-white navbar-light d-md-none sticky-top">
    <div class="container-fluid">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a href="{{ path('dashboard_homepage') }}" class="nav-link">
                    <i class="fas fa-tachometer-alt fa-fw"></i>
                    <span class="ms-2">{{ 'global.dashboard'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>