{% macro render() %}
    <a class="navbar-brand nav-link px-2 me-3" href="{{ path('dashboard_homepage') }}">
        <img alt="brand logo"
             src="{{ asset('build/images/dashboard/logo/logo@1x.png') }}"
             class="m-auto"
             width="28px"/>
    </a>
{% endmacro %}