<div class="home-image-wrapper">
    <div class="home-image-inner">
        <img alt="Background image"
             src="{{ asset('build/images/homepage/mbj_homepage_banner.jpg') }}"
             class="home-image"
             srcset="{{ asset('build/images/homepage/mbj_homepage_banner.jpg') }} 1x,{{ asset('build/images/homepage/mbj_homepage_banner.jpg') }} 2x,">
    </div>
</div>

