<section class="header-section row">
    <h1 class="headline">
        Partage tes plus belles aventures à vélo
    </h1>
    <h2 class="subheadline">
        Avec ta famille, tes amis, tes collègues, ton chien tes poules et même Brad Pitt pourquoi pas ?
    </h2>
</section>