<section class="header">
    <h1 class="title">
        Partage tes plus belles aventures à vélo, en toute simplicité
    </h1>
    <h2 class="hook">
        Avec ta famille, tes amis, tes collègues, ton chien tes poules et même Brad Pitt pourquoi pas ?
    </h2>
</section>