<section class="header">
    <h1 class="title">
        {{ "header.title"|trans([], 'homepage')|raw }}
    </h1>
    <h2 class="hook">
        {{ "header.hook"|trans([], 'homepage')|raw }}
    </h2>
</section>