<div class="hero-background">
    <div class="inner">
        <img alt="Hero background image"
             class="image"
             src="{{ asset('build/images/homepage/mbj_homepage_banner.jpg') }}"
             srcset="{{ asset('build/images/homepage/mbj_homepage_banner.jpg') }} 1x,{{ asset('build/images/homepage/mbj_homepage_banner.jpg') }} 2x,">
    </div>
</div>

