{% extends "web/pages/layout.html.twig" %}

{% block page_contents %}
    <main id="homepage">
        {# Background hero image #}
        {% include "web/pages/homepage/_hero_background.html.twig" %}

        <div class="container">
            {# Two lines teaser #}
            {% include "web/pages/homepage/_header.html.twig" %}

            {# CTA to read the project #}
            {% include "web/pages/homepage/_the_project.html.twig" %}

            {# Card to register as early bird #}
            {% include "web/pages/homepage/_stay_tuned_card.html.twig" %}
        </div>
    </main>
{% endblock %}
