{# The common layout used for signin / signup / reset password #}

{% extends 'dashboard/base.html.twig' %}

{% block content %}
    <div id="dashboard">
        <header>
           {% include('dashboard/components/sidebar/index.html.twig') %}
        </header>

        <div class="page-content">
            {% block page_contents %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
