<div class="d-none d-md-block">
    {% include 'dashboard/components/navbar/desktop/index.html.twig' %}
</div>

<div class="d-md-none ">
    {% include 'dashboard/components/navbar/mobile/index.html.twig' %}
</div>
