<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}My Bicycle Journey{% endblock %}</title>

        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" sizes="any">
        <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'web/shared/_flash_messages.html.twig' %}

        {% block navbar %}{% include 'web/shared/_navbar.html.twig' %}{% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
