<div class="banner">
    <img alt="Banner image"
         src="{{ asset('build/images/the-project/mbj_the_project_banner.jpg') }}"
         class="image"
         srcset="{{ asset('build/images/the-project/mbj_the_project_banner.jpg') }} 1x, 
             {{ asset('build/images/the-project/mbj_the_project_banner.jpg') }} 2x
">
    <div class="container">
        <h1 class="title">
            {{ "pages.the_project.banner.title"|trans }}
        </h1>
    </div>
</div>

