<img alt="Banner image"
     src="{{ asset('build/images/the-project/mbj_the_project_banner.jpg') }}"
     class="banner"
     srcset="{{ asset('build/images/the-project/mbj_the_project_banner.jpg') }} 1x, 
             {{ asset('build/images/the-project/mbj_the_project_banner.jpg') }} 2x
">

<div class="container">
    <h1 class="title">Le projet.</h1>
</div>