{% extends "web/pages/layout.html.twig" %}

{% block page_contents %}
    <main id="the-project">
        {# Header with banner and title #}
        {% include "web/pages/the_project/_header.html.twig" %}

        {# Presentation of the project #}
        {% include "web/pages/the_project/_presentation.html.twig" %}

        {# CTA to register as early bird #}
        {% include "web/pages/the_project/_stay_tuned.html.twig" %}
    </main>
{% endblock %}
