{% extends "frontend/security/layout.html.twig" %}

{% block page_contents %}

    <h1 class="card-title mb-4 mt-3 fs-3">
        {{ "user.password_reset.check_your_emails"|trans }}
    </h1>

    <p class="card-text text-muted mb-4">
        {{ "user.password_reset.we_have_send_you_an_email"|trans({
            'expiresIn': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'),
            'link': path('request_password_reset')
        })| raw }}
    </p>

{% endblock %}