.flash-messages {
  position: fixed;
  top: 5rem;
  right: 1rem;
  z-index: 26500;

  .message {
    align-items: center;
    color: $white;
    border: 0;

    .body {
      font-size: 1rem;
      line-height: 1.6rem;
      font-weight: bold;
    }

    button {
      margin: auto;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    max-width: calc(100vw - 2rem);
  }
}

