// Reset the absolute position set from MBBootstrap
.invalid-feedback {
  position: inherit;
}

// If a field have multiple invalid feedback, include a margin between them
div .invalid-feedback:not(:last-child) {
  margin-bottom: 0.75rem;
}

.form-control:focus {
  border-color: $primary;
  box-shadow: inset 0 0 0 1px $primary;
}