.navbar-light {
  padding: 1rem 0.5rem;

  .navbar-brand {
    font-family: $font-family-brand;
    color: $dark-color !important;

    &:hover {
      text-decoration: none !important;
    }
  }

  @include media-breakpoint-down(sm) {
    .signup {
      @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-border-radius
      );
    }
  }
}


