.navbar-light {
  padding: 1rem 0.5rem;

  .navbar-brand {
    font-family: $font-family-brand;
    color: $dark-color !important;

    &:hover {
      text-decoration: none !important;
    }
  }
  
}


