// Height of the navbar is used as constant to compute vh heights
$navbar-height: 49px;

.navbar-light {
  padding: 0.5rem;
  z-index: 100;

  .navbar-brand {
    font-family: $font-family-brand;
    color: $dark-color !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-right: 0;

    .image {
      margin-right: 10px;
    }

    .name {
      letter-spacing: 0.25rem;
    }

    &:hover {
      text-decoration: none !important;
    }
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    color: $dark-color;
    
    &.link-secondary {
      color: $secondary;
    }
  }

  .nav-btn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .my-account, .locale-selector {
    text-decoration: none !important;

    a:hover {
      text-decoration: none !important;
    }
  }
}
