<section class="header">
    <div class="row">
        <div class="col-xl-11 col-12">
            <h1 class="title">
                {{ "pages.homepage.hero_baseline"|trans|raw }}
            </h1>
            <a href="{{ path('frontend_the_project') }}"
               class="btn btn-lg btn-white button">
                {{ "pages.homepage.discover_the_project"|trans }}
            </a>
        </div>
    </div>
</section>