{% import "web/component/_breadcrumbs.html.twig" as Breadcrumbs %}

<div id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        {{ Breadcrumbs.default(metadata.breadcrumbs) }}
    </div>
</div>