// The graphic charter definition

/*> FONT */
// Font families
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&family=Raleway:wght@300;400;600;700&display=swap');
$font-family-brand: "Source Code Pro", Menlo, Monaco, Consolas;
$font-family-title: "Source Code Pro", Menlo, Monaco, Consolas;
$font-family-text: 'Raleway', sans-serif;
/*< FONT */

