// The graphic charter definition

/*> COLORS */
$text-color: #24292f;
$background: #f9f9f9;
/*< COLORS */

/*> FONT */
// Font families
$font-family-text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
$font-family-title: SFMono-Regular, Menlo, Monaco, Consolas;

/*< FONT */