@use "charter";

html {
  font-size: 14px;
}

body {
  font-family: charter.$font-family-text;
}

p {
  font-family: charter.$font-family-text;
  line-height: 1.50rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: charter.$font-family-title;
}