@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

#notfound {
  position: relative;
  height: calc(100vh - $navbar-height);

  .notfound {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;

    h2 {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: $dark-color;
      margin-top: 0;
      margin-bottom: 25px;
    }

    .notfound-404 {
      position: relative;
      height: 240px;

      h1 {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 252px;
        font-weight: 900;
        margin: 0;
        color: $dark-color;
        text-transform: uppercase;
        letter-spacing: -40px;
        margin-left: -20px;

        & > span {
          text-shadow: -8px 0px 0px $body-bg;
        }
      }

      h3 {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-color;
        margin: 0;
        letter-spacing: 3px;
        padding-left: 6px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .notfound {
    .notfound-404 {
      height: 200px;

      h1 {
        font-size: 200px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .notfound {
    h2 {
      font-size: 16px;
    }

    .notfound-404 {
      height: 162px;

      h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
      }
    }
  }
}