#homepage {
  // HERO BACKGROUND
  .hero-background {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 49px);
    padding-bottom: 1.5rem;
    z-index: -1;
    position: absolute;

    .inner {
      position: relative;
      width: 100%;
      height: calc(100vh - 49px);
      z-index: 0;
      overflow: hidden;

      .image {
        width: 100%;
        height: calc(100vh - 49px);
        object-fit: cover;
        position: absolute;
      }
    }
  }

  // HEADER
  .header {
    padding-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

    .title {
      font-weight: bold;
      display: inline-block;
      font-size: 2.9rem;
      margin-bottom: 1rem;
    }

    .hook {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  @include media-breakpoint-down(xl) {
    .header {
      margin-bottom: 3rem;
    }
  }

  @include media-breakpoint-between(md, xl) {
    .header {
      .title {
        font-size: 2.5rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .header {
      .title {
        font-size: 1.9rem;
      }

      .hook {
        font-size: 1.1rem;
      }
    }
  }


  // CALL TO ACTION
  .the-project {
    margin-bottom: 5rem;
    text-align: center;

    .button {
      padding: 1.5rem 3rem;
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 0.3);
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  @include media-breakpoint-down(xl) {
    .the-project {
      margin-bottom: 3rem;
    }
  }

  // STAY TUNED
  .stay-tuned {
    .card {
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 0.3);

      .title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }

      .paragraph {
        font-size: .9em;
        text-align: justify;
        padding-right: 2rem;
      }

      form {
        .button {
          font-weight: bold;
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .stay-tuned .card .paragraph {
      margin-bottom: 3rem;
    }
  }
}

