#signup {
  background-color: #d3efea;
  min-height: calc(100vh - 50px);

  .container {
    padding-top: 3rem;
  }
  @include media-breakpoint-down(md) {
    .container {
      padding-top: 1.5rem;
    }
  }

  // BACKGROUND ILLUSTRATION
  .background-illustration {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;

    .inner {
      position: relative;
      width: 100%;
      height: calc(100vh - 50px);

      .image {
        width: 100%;
        height: calc(100vh - 50px);
        object-fit: cover;
        position: absolute;
      }
    }
  }

  // HOOK
  .hook {
    position: relative;
    color: $white;
    font-weight: 900;
    font-size: 5rem;
    margin-top: 5rem;
    text-shadow: 2px 3px 0 rgb(0 0 0 / 0.2);
  }

  @include media-breakpoint-down(xl) {
    .hook {
      font-size: 3.75rem;
    }
  }
  
  @include media-breakpoint-down(lg) {
    .hook {
      font-size: 3rem;
      margin-top: 0;
    }
  }
  
  @include media-breakpoint-down(md) {
    .hook {
      font-size: 2.5rem;
    }
  }

  // FORM 
  .registration-form {
    .card {
      margin-top: 2rem;
      border-radius: 25px;

      .card-body {
        padding: 3rem;

        .title {
          font-size: 2rem;
          margin-bottom: 1.5rem;
          font-weight: 900;
        }

        .description {
          margin-bottom: 3rem;
        }

        form {
          .row {
            margin-bottom: 2rem;
          }
        }

        .privacy-policy {
          font-size: 0.9rem;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .registration-form {
      .card {
        margin-top: 1.5rem;
        .card-body {
          padding: 2rem;

          .title {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

