@import "../charter";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.home-image-wrapper {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 49px);
  padding-bottom: 1.5rem;
  z-index: -1;
  position: absolute;
}

.home-image-inner {
  position: relative;
  width: 100%;
  height: calc(100vh - 49px);
  z-index: 0;
  overflow: hidden;
}

.home-image {
  width: 100%;
  height: calc(100vh - 49px);
  object-fit: cover;
  position: absolute;
}

.header-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.headline {
  font-weight: bold;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subheadline {
  font-weight: bold;
  font-size: 1.2rem;
}

.cta-wrapper {
  margin-bottom: 5rem;
}

.cta-button {
  padding: 1.5rem 2.5rem;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / .3);
}

.stay-tuned-section {
  margin-bottom: 2rem;
}

.stay-tuned-card {
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / .3);
}

.stay-tuned-title {
  margin-bottom: 2rem;
  text-align: center;
}

.stay-tuned-text {
  font-size: .9em;
  text-align: justify;
  border-right: 1px solid $gray-400;
  padding-right: 2rem;
}

.open-source-text {
  text-align: justify;
}

@include media-breakpoint-down(xl) {
  .stay-tuned-text {
    border: none;
    margin-bottom: 2rem;
  } 
  .header-section {
    margin-bottom: 2rem;
  }
}


@include media-breakpoint-between(md, lg) {
  .headline {
    font-size: 2.5rem;
  }
}

@include media-breakpoint-down(md) {
  .headline {
    font-size: 1.7rem;
  }
  .subheadline {
    font-size: 1.1rem;
  }
}