{# @seo seo \App\ContentManagement\Domain\Seo\Model\Page #}

{% block title %}
    <title>{{ seo.title ?? 'My Bycicle Journey' }}</title>
{% endblock %}

{% block sharedMeta %}

{% endblock %}

{% block metaNames %}
    {% for meta in seo.nameMeta %}
        {{ meta | raw }}
    {% endfor %}
{% endblock %}

{% block openGraph %}
    {% for meta in seo.openGraph %}
        {{ meta | raw}}
    {% endfor %}
{% endblock %}
