{% extends "web/layout.html.twig" %}

{% block page_contents %}
    <main id="signup">

        {% include "web/account_management/signup/_background_illustration.html.twig" %}

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    {# Form #}
                    {% include "web/account_management/signup/_registration_form.html.twig" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

