{% extends "web/layout.html.twig" %}

{% block page_contents %}
    <main id="signup">

        {% include "web/account_management/signup/_background_illustration.html.twig" %}

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7 col-xxl-6">
                    {# Form #}
                    {% include "web/account_management/signup/_hook.html.twig" %}
                </div>
                <div class="col-lg-6 col-xl-5 offset-xxl-1">
                    {# Form #}
                    {% include "web/account_management/signup/_registration_form.html.twig" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

