<nav id="sidebarMenu" class="sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="{{ path('dashboard') }}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i>
                <span>{{ 'global.dashboard'|trans }}</span>
            </a>
{#            <a href="#" class="list-group-item list-group-item-action py-2 ripple">#}
{#                <i class="fas fa-chart-area fa-fw me-3"></i>#}
{#                <span>Account</span>#}
{#            </a>#}
        </div>
    </div>
</nav>