{% extends 'web/base.html.twig' %}

{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h3>{{ 'pages.404error.oops'|trans }}</h3>
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>
                {{ 'pages.404error.page_not_found'|trans }}
            </h2>

            <a class="btn btn-primary btn-xl fw-bold px-5 py-3"
               href="{{ path('homepage') }}">
                {{ 'pages.404error.back_to_home'|trans }}
            </a>
        </div>
    </div>
{% endblock %}