{% extends "web/public/pages/layout.html.twig" %}

{% block page_contents %}
    <main id="the-project">
        {# Banner with title #}
        {% include "web/public/pages/the_project/_banner.html.twig" %}

        {# Breadcrumbs section #}
        {% include "web/public/pages/the_project/_breadcrumbs.html.twig" %}

        {# Presentation of the project #}
        {% include "web/public/pages/the_project/_presentation.html.twig" %}

        {# CTA to register as early bird #}
        {% include "web/public/pages/the_project/_stay_tuned.html.twig" %}
    </main>
{% endblock %}
