{% import "frontend/components/navbar/_brand.html.twig" as Brand %}
{% import "frontend/components/navbar/_account.html.twig" as Account %}
{% import "frontend/components/navbar/_locale_switcher.html.twig" as LocalSwitcher %}

<nav class="navbar navbar-frontend navbar-expand-md navbar-light bg-white">
    <!-- Brand -->
    {{ Brand.render() }}

    <!-- Left elements -->
    <div class="navbar-nav me-auto mb-2 mb-lg-0">
    </div>
    <!-- Left elements -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
        {{ Account.render(app.user) }}
        {{ LocalSwitcher.render(navbar.localeSwitcher) }}
    </div>
    <!-- Right elements -->
</nav>
